.worksheet-page-top {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.worksheet-info {
    display: grid;
    grid-template-columns: min-content min-content;
    white-space: nowrap;
    column-gap: 1rem;
    margin-left: 2rem;
}
