.projects_item {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.projects_none {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects_none button {
    margin-top: 10px;
    border-radius: 3px;
    
}