.project_item {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: #444;
    overflow: hidden;
    box-shadow: 0.4rem 0.8rem 1rem #aaa2;
}

.project_top {
    background-color: #333;
    padding: 5px;
}

.project_link {
    flex-grow: 2;
    color: #fff;
    font-size: larger;
    font-weight: bold;
    margin-left: 0.5rem;
}

.project_link:hover {
    color: #ccc;
}

.project_stats {
    display: flex;
    float: right;
    user-select: none;
}

.project_stats span {
    font-size: 1em;
    margin-left: 0.5em;
    transform: translateY(2px);
}

.project_worksheets {
    display: flex;
    column-gap: 5px;
    padding: 5px;
    overflow: auto;
}

.project_worksheets>* {
    min-width: fit-content;
}

.project_none {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_create_button {
    margin-top: 1em;
    font-size: small;
}