.popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.4);

    >div {
        max-height: 80%;
        max-width: 70%;
        background-color: var(--color-text-dark);
        border-radius: 8px;
        overflow: hidden auto;
    }
}

.popup-close-button {
    all: unset;
    float: right;
}
