.editor {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    color: #eee;

    .tabs-wrapper {
        display: flex;
        border-bottom: 1px solid #ddd;
    }

    .tabs-container {
        display: flex;
        max-width: 100%;
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 0.5rem;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            background: #444;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #666;
        }

        .editor-tab-close {
            --close-size: 1rem;
            display: none;
            position: absolute;
            color: #ddd;
            background-color: #333;
            border: none;
            border-radius: 10rem;
            top: calc(calc(100% - var(--close-size)) / 2);
            right: 0.3rem;
            padding: 0;
            height: var(--close-size);
            width: var(--close-size);
            
            &:hover {
                background-color: #111;
            }
            span {
                font-size: var(--close-size);
            }
        }

        .editor-tab:hover>.editor-tab-close {
            display: flex;
        }

        >*:hover,
        .selected {
            background-color: #444;
        }
    }

    .tabs_content {
        display: flex;
        flex-grow: 1;
    }

    .tab-title {
        padding: 0.3rem 1.5rem 0.3rem 0.5rem;
        color: #ddd;
        font-size: 0.8rem;
        background-color: unset;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        border: none;
    }

    .editor-tab {
        max-width: 12rem;
    }

    .editor-tab-add {
        height: 1.8rem;
        width: 1.8rem;
        margin: 0.5rem 0.3rem;
        padding: 0.2rem;
        border-radius: 0.3rem;
        text-align: center;
    }

    .editor-tab-add,
    .editor-tab {
        background-color: #333;
        border: none;
        user-select: none;
        color: #ddd;
        position: relative;
        margin: 0.3rem 0.1rem;
        border-radius: 0.3rem;
        display: flex;
    }
}
