.node {
    width: min-content;
    height: min-content;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: default;

    .top-container {
        display: flex;
        justify-content: space-between;

        >h3 {
            font-size: medium;
            margin: 2px;
        }
    }

    .content-container select {
        border: none;
        cursor: pointer;
    }

    .content-table {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0;

        >* {
            border-top: 1px solid black;
            border-left: 1px solid black;
            padding: 1px 2px;
            white-space: nowrap;

            :nth-child(2n+1) {
                border-left: unset;
            }
        }
    }
    
    .node-list>* {
        display: flex;
        justify-content: space-between;
    }

    .preview-field {
        color: lightgray;
        font-style: italic;
    }

    .target-editor-wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: var(--color-text-dark);
    }
}
