.node-end {
    border: 1px solid var(--node-end-primary);
    
    * {
        color: var(--node-end-text, initial);
        
    }

    .top-container {
        background: var(--node-end-primary, black);
    }

    .content-container * {
        background: var(--node-end-secondary, white);
    }

    .content-table * {
        border-top-color: var(--node-end-primary, black);
        border-left-color: var(--node-end-primary, black);
    }
}
