.node-production {
    --node-primary: var(--node-production-primary);
    --node-secondary: var(--node-production-secondary);
    --node-text: var(--node-production-text);
    
    border: 1px solid var(--node-primary);

    .top-container h3,
    .content-container * {
        color: var(--node-text);
    }

    .content-table * {
        border-top-color: var(--node-primary);
        border-left-color: var(--node-primary);
    }

    .content-container * {
        background: var(--node-secondary);
    }

    .top-container {
        background: var(--node-primary);
    }

    .product-table {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0;
    }

    .recipe-product {
        margin-right: 3px;
    }
}
