.node-drag-handle {
    min-width: 2rem;
    flex-grow: 2;
    cursor: grab;
    margin: 0.2rem 0.1rem;

    background-image: radial-gradient(var(--dot-color) 1px, transparent 0);
    background-size: 0.3rem 0.3rem;
}

.node-spawn .node-drag-handle {
    --dot-color: var(--node-spawn-secondary);
}

.node-production .node-drag-handle {
    --dot-color: var(--node-production-secondary);
}

.node-end .node-drag-handle {
    --dot-color: var(--node-end-secondary);
}