.node-end .content-table * {
    border-top-color: var(--node-end-primary, black);
    border-left-color: var(--node-end-primary, black);
}

.node-end .content-container * {
    background: var(--node-end-secondary, white);
    color: var(--node-end-text, initial);
}

.node-end .top-container {
    color: var(--node-end-text, initial);
    background: var(--node-end-primary, black);
}

.node-end {
    border: 1px solid var(--node-end-primary);
}
