.active-target-icon {
    display: flex;
    align-content: flex-end;
    cursor: pointer;
    height: fit-content;
    overflow: hidden;
    margin: 2px;
    border-radius: 3px;
    background-color: #bbb;

    span{
        color: #777;
        font-size: 1rem;
        font-weight: 500;
    }

    &.active {
        background-color: #5b8025;
        span {
            color: #D3F1A7;
        }
    }
    
    &:hover {
        background-color: #a1a1a1;
    }
}
