.calculator .toolbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    background-color: var(--bs-gray-700);
    column-gap: 0.3rem;
}

.calculator .toolbar>div>button {
    all: unset;
    padding: 0.1rem 0.3rem;
    color: whitesmoke;
    position: relative;
}

.calculator .toolbar>div>button.selected {
    background-color: #3981c9;
}

.calculator .toolbar>div>button:hover {
    background-color: #1b6ec2;
}

.calculator .drop-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1100;
    background-color: var(--bs-gray-600);
}

.calculator .drop-menu button {
    all: unset;
    padding: 0 5px;
    color: whitesmoke;
    font-size: small;
}

.calculator .drop-menu a {
    text-decoration: none;
}

.calculator .drop-menu>*:hover {
    background-color: #1b6ec2;
}


.calculator .item-with-info {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}

.calculator .item-with-info .icon {
    cursor: pointer;
}

.calculator .draggable-node-icon {
    cursor: grab;
    user-select: none;
    padding: 0 5px;
    font-size: small;
}
