/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

button:not(:disabled) {
  cursor: pointer !important;
}

/* Remove input=number arrows */
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Vars */
:root {
  --node-spawn-primary: #ea6d30;
  --node-spawn-secondary: #ef8f52;
  --node-spawn-text: #111;

  --node-production-primary: #705499;
  --node-production-secondary: #a09bc2;
  --node-production-text: #111;

  --node-end-primary: #1199b7;
  --node-end-secondary: #5ebdd8;
  --node-end-text: #111;

  --node-input-primary: #F53C8D;
  --node-input-secondary: #F78EB8;
  --node-input-text: #111;

  --node-worksheet-primary: #878a5d;
  --node-worksheet-secondary: #bbbe78;
  --node-worksheet-text: #111;

  --node-output-primary: #32F57A;
  --node-output-secondary: #8AFFB5;
  --node-output-text: #111;
}