.calculator {
    height: 100%;
    width: 100%;
    position: relative;
}

.calculator .flow-chart-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
}

.calculator .flow-chart-wrapper {
    position: relative;
}

.calculator .flow-chart {
    border: 1px solid lightgray;
    border-radius: 0 0 5px 5px;
}

.calculator .loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
