.flow-chart-container {
    display: flex;
    min-height: 70vh;
}

.flow-chart-container>:first-child {
    flex-grow: 2;
}

.flow-chart {
    height: 60vh;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.test-nodes {
    display: flex;
}

.test-nodes>* {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 8px;
    margin-right: 8px;
    height: min-content;
    cursor: grab;
    overflow: hidden;
}

.attribute-manager {
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 1rem;
}

.calculator-screen-manager {
    height: 100%;
    width: 100%;
    position: relative;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
