.node-spawn {
    --node-primary: var(--node-spawn-primary);
    --node-secondary: var(--node-spawn-secondary);
    --node-text: var(--node-spawn-text);
    
    border: 1px solid var(--node-primary);

    .top-container h3,
    .content-container * {
        color: var(--node-text);
    }

    .content-table>* {
        border-top-color: var(--node-primary);
        border-left-color: var(--node-primary);
    }

    .content-container * {
        background: var(--node-secondary);
    }

    .top-container {
        background: var(--node-primary);
    }
}
