.recipes {
    list-style-type: none;
    padding-left: 2px;
    margin: 0;
}

.recipes>* {
    display: flex;
    width: 100%;
}

.recipes>*>:first-child {
    flex-grow: 2;
}

.recipe-remove-button {
    all: unset;
}

.recipe-manager .separation-line {
    width: 100%;
    margin: 0.5rem 0;
    align-self: center;
    border-top: 1px solid darkgray;
}

.recipe-filter {
    display: flex;
    flex-direction: column;
}
