.recipe-creator-header {
    display: flex;
    justify-content: space-between;
}

.add-throughput-button, .remove-throughput-button {
    all: unset;
    margin: 0 0.5rem;
    width: min-content;
    height: min-content;
    align-self: center;
}

.throughput-amount-field {
    width: 7ch;
}

.throughput-product-field {
    width: 20ch;
}

.throughput-list>* {
    display: flex;
}

.recipe-creator-submit {
    float: right;
    border-radius: 7px;
    margin: 0.2rem 0.5rem;
    padding: 0 0.5rem;
}

.recipe-creator-separation-line {
    width: 100%;
    margin: 0.5rem 0;
    align-self: center;
    border-top: 1px solid darkgray;
}
