.recipe-item {
  background-color: #303030;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  width: fit-content;
  
  .recipe-content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.1rem 1rem;
    
    .throughput {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }
}