.project-page {
    position: relative;
    flex-grow: 1;
    
    .project-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: #eee;
            margin: 2rem;
        }
    }
}

.project-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-loading-page,
.no-projects-yet-page {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-create-button {
    margin: 2rem;
    font-size: small;
}