.active-target-icon {
    display: flex;
    align-content: flex-end;
    cursor: pointer;
    height: fit-content;
    margin: 2px;
    border-radius: 3px;
    color: #777;
    background-color: #bbb;
    overflow: hidden;

    >span{
        font-size: 1rem;
        font-weight: 500;
    }

    &.active {
        color: #D3F1A7;
        background-color: #5b8025;
    }
    
    &:hover {
        background-color: #a1a1a1;
    }
}
