.target-editor {
    $--border-radius: 0.2rem;
    background-color: var(--color-text-dark);
    height: 100%;
    width: 100%;
    
    .target-editor-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 0.5rem;
    }
    
    * {
        color: var(--color-text-light);
    }
    
    h4 {
        font-size: 14px;
    }

    .tabs {
        display: flex;

        button {
            all: unset;
            padding: 0.1rem 0.2rem;
            flex-grow: 1;
            border: 1px solid darkgray;
            font-size: 8px;
            font-weight: bold;
            text-align: center;

            &:first-child {
                border-radius: $--border-radius 0 0 $--border-radius;
            }
            &:last-child {
                border-radius: 0 $--border-radius $--border-radius 0;
            }
        }

        .selected {
            background-color: #3a3a3a;
        }
    }

    .tab-content {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0.3rem;
        
        span {
            white-space: nowrap;
            margin: 0.5rem;
        }
        
        div {
            width: 48%;
        }
        
        label {
            white-space: nowrap;
            font-size: 8px;
        }

        input {
            border: 1px solid var(--color-text-light);
            border-radius: $--border-radius;
            background-color: transparent;
            width: 100%;
            font-size: 10px;
        }
    }
}
