.node-production .product-table {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
}

.node-production .product-table>:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.node-production .recipe-product {
    margin-right: 3px;
}