.node-container {
    width: min-content;
    height: min-content;
    position: relative;
}

.node-top {
    display: flex;
    justify-content: space-between;
}

.node-top>h3 {
    font-size: medium;
    margin: 2px;
}

.node-top>.targets {
    display: flex;
    align-content: flex-end;
    height: fit-content;
    padding: 0 2px;
    margin: 2px;
    border-radius: 3px;
    font-size: x-small;
    background-color: #bbbbbb;
}
.node-top>.targets:hover {
    background-color: #a1a1a1;
}

.node-table {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
}

.node-table>* {
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 1px 2px;
    white-space: nowrap;
}

.node-table>:nth-child(2n+1) {
    border-left: unset;
}

.node-list>* {
    display: flex;
    justify-content: space-between;
}

.previewField {
    color: lightgray;
    font-style: italic;
}

.node-top>.targets {
    cursor: pointer;
}

.node-top>.targets>.bx-target-lock {
    line-height: unset;
}

.right-one {
    transform: translateX(1px);
}

.left-one {
    transform: translateX(-1px);
}

.targetEditor {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: white;
}