.power-up-icon {
  display: flex;
  align-content: flex-end;
  cursor: pointer;
  height: fit-content;
  overflow: hidden;
  margin: 2px;
  border-radius: 3px;
  background-color: #bbb;

  span{
    color: #777;
    font-size: 1rem;
    font-weight: 500;
  }

  &.active {
    background-color: #1199b7;
    span {
      color: #a7dff8;
    }
  }

  &:hover {
    background-color: #a1a1a1;
  }
}
