.worksheet-item {
    border: 1px solid black;
    border-radius: 7px;
    color: #eee;
    overflow: hidden;
}

.worksheet-item>* {
    padding: 0.2rem 0.3rem;
}

.worksheet-item .top-container {
    border-bottom: 1px solid black;
    margin-bottom: 0.3rem;
}

.worksheet-item .title {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
}

.worksheet-item .title:hover {
    color: #ddd;
}

.worksheet-item .amounts-container {
    display: grid;
    grid-template-columns: auto auto;
}

.worksheet-item .amounts-container>*:nth-child(2n) {
    padding: 0 0.5em;
}

.worksheet-item .input-output-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0;
}

.worksheet-item .input-output-container>* {
    border-top: 1px solid black;
    padding: 0 3px;
    margin: 0;
    white-space: nowrap;
}

.worksheet-item .input-output-container>*:nth-child(2n) {
    border-left: 1px solid black;
}

.worksheet-item .worksheet-item-throughput {
    display: flex;
    justify-content: space-between;
    column-gap: 0.5em;
}
