.worksheet-overview {
    height: 100%;
    width: 100%;
    position: relative;
}

.worksheet-overview .worksheet-item {
    margin: 0.5rem;
}

.worksheet-overview .filter-container {
    display: flex;
}

.worksheet-overview .worksheet-item-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;
}
