.power-up-icon {
  display: flex;
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2px;
  border-radius: 3px;
  background-color: #bbb;

  span{
    color: #777;
    font-size: 1rem;
    font-weight: 500;
  }

  &.active {
    background-color: #1199b7;
    span {
      color: #a7dff8;
    }
    &:hover {
      background-color: #1199b7bb;
    }
  }

  &:hover {
    background-color: #bbbb;
  }
}
