.layout .notification-wrapper {
    position: absolute;
    z-index: 20000;
    left: 50%;
    transform: translateX(-50%);
}

.layout {
    display: flex;
    flex-direction: column;
    background-color: #1e1e21;
}
