.active-target-icon {
    display: flex;
    cursor: pointer;
    height: -moz-fit-content;
    height: fit-content;
    margin: 2px;
    border-radius: 3px;
    background-color: #bbb;

    span{
        color: #777;
        font-size: 1rem;
        font-weight: 500;
    }

    &.active {
        background-color: #5b8025;
        span {
            color: #D3F1A7;
        }
        &:hover {
            background-color: #5b8025bb;
        }
    }
    
    &:hover {
        background-color: #bbbb;
    }
}
