.node-options {
    background-color: #222;

    .header {
        white-space: nowrap;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        font-weight: bold;
        user-select: none;
        cursor: auto;
    }
}

.entity-selectors-container {
    display: flex;
    flex-direction: row;
}

.node-options {
    .entity-selector {
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        
        input {
            width: calc(100% - 1rem);
            margin: 0.5rem;
        }
        
        .entity-list {
            height: 15rem;
            overflow: hidden auto;
            
            * {
                width: 15rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 1rem;
                background: #444;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #666;
            }
        }
    }

    .selector-item {
        padding: 0.1rem 1rem;
        cursor: pointer;

        &:hover,
        &.selected {
            background: #444;
        }
    }
    
    .recipe-preview {
        padding: 1rem;
        
        h3 {
            
        }
    }

    .footer>button {
        margin: 0.5rem;
    }

    &.type-spawn>.header {
        background: linear-gradient(120deg, var(--node-spawn-primary), var(--node-spawn-secondary));
    }

    &.type-end>.header {
        background: linear-gradient(120deg, var(--node-end-primary), var(--node-end-secondary));
    }

    &.type-production>.header {
        background: linear-gradient(120deg, var(--node-production-primary), var(--node-production-secondary));
    }
}
