.calculation-state {
    position: absolute;
    right: 0;
    padding: 8px;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    color: whitesmoke;

    >* {
        border: 1px solid whitesmoke;
        background-color: #333;
        border-radius: 7px;
        margin: 2px;
        overflow: hidden;
    }
    
    .calculation-info {
        display: flex;
        user-select: none;
        height: 1.5rem;
        
        >div {
            display: flex;
            align-items: center;
            gap: 1px;
            padding: 0 3px;

            &[hidden]:not(:last-child) {
                border-right: 1px solid whitesmoke;
            }
        }
    }

    .recalculate-icon-wrapper {
        width: 35px;
        height: 35px;
        text-align: center;

        i {
            font-size: 35px;
        }
    }
}
